# Docker setup files (Lucas will just do)
setup_docker.ps1

# Various local dirs / files to ignore
/colab_data.zip
/local_testing
testbook.ipynb
saved_data/
runscripts/

# Jupyter notebook specific files
/.virtual_documents
/.ipynb_checkpoints
__pycache__/