# Docker setup files (Lucas will just do)
setup_docker.ps1
Dockerfile

# Various local dirs / files to ignore
/colab_data.zip
/local_testing
testbook.ipynb
saved_data/
runscripts/
runscripts_archive/

# Jupyter notebook specific files
/.virtual_documents
/.ipynb_checkpoints
__pycache__/

# Chess Engine Files
stockfish/
prog_data/
progdata/

# Big data files we'll keep local (for processing / etc.)
magpie_llama70b_00-of-13.parquet
**/llamafactory_programmatic*